<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Page suite">

    <test name = "Page tests">
        <classes>
            <class name="ua.biz.test.tests.candidate.CandidateDataTest"/>
            <class name="ua.biz.test.tests.punch.PunchTimeTest"/>
            <class name="ua.biz.test.tests.records.OtherDaysRecordsListTest"/>
            <class name="ua.biz.test.tests.userData.CorrectEmployeeDataTest"/>
            <class name="ua.biz.test.tests.vacancy.VacancyDataTest"/>
            <class name="ua.biz.test.tests.location.LocationDataTest"/>
        </classes>
    </test>

</suite>